<hr class='mb-16'/>

<section class='container text-center'>
    <div class='mb-3'>
        <a href='/'>
            <img src="{{ 'logo-dark@2x.png' | asset_img_url: '86x' }}"
                srcset="{{ 'logo-dark@2x.png' | asset_img_url: 'master' }} 2x,
                    {{ 'logo-dark@3x.png' | asset_img_url: 'master' }} 3x"
                alt='Piu Cafe'>
        </a>
    </div>

    <h2 class='tag-line--title mb-6 mx-auto'>
        {{ 'general.hero.sub_title' | t }}
    </h2>

    <a class='button--order mb-19' href='#'>
        {{ 'general.button.order_now' | t }}
    </a>

</section>


{% schema %}
                {
                  "name": "Tag Line",
                  "settings":[],
                  "presets": [
                    {
                      "name": "Tag Line",
                      "category": "Information"
                    }
                  ]
                }
{% endschema %}
