<section class='container mt-8 mb-17'>
    <div class='row'>
        <div class='col-12 col-md-6 pe-14 text-start'>
            <h1 class='h1 mb-3'>
                Le Parfait Équilibre
                <br/>
                Tout au Long de la Journée
            </h1>

            <p class='mb-2'>
                {{ page.content  }}
            </p>

            <a class='button--order mb-5' href='#'>
                {{ 'general.button.order_now' | t }}
            </a>

            {% render 'testimonial' %}
        </div>

        <div class='col-12 col-md-6 bg-light'>
            <img src="{{ 'image-coffee-drinker.png' | asset_img_url: 'master' }}"
                 srcset="{{ 'image-coffee-drinker@2x.png' | asset_img_url: 'master' }} 2x,
                      {{ 'image-coffee-drinker@3x.png' | asset_img_url: 'master' }} 3x"
                 alt='Cafe'>
        </div>
    </div>
</section>

<section class='container'>
    {% assign collection = collections['featured-products'] %}
    {% render 'product-hero' for collection.products as product  %}
</section>

{% section 'tag-line' %}
