<div id="featured-products" class='container pt-6 pt-md-9 pt-xl-10 pb-10'>
  <h1 class='h1 mb-8 mb-md-8 mb-xl-9 text-center'>
    <span>{{ 'general.featured-products.title.every-hour' | t }}</span>
    <br/>
    <span class="accent">{{ 'general.featured-products.title.intensity' | t }}</span>
  </h1>

  <div class='row'>
    {% for product in collections[section.settings.collection].products  %}
      {%- liquid
      assign textPosition = "text-start,text-center,text-end" | split: ','
      assign positionIndex = forloop.index | minus: 1
      %}

      <div class='col mb-7 text-center'>
        <a class='d-block' href={{ product.url }}>
          <img src="{{ product.featured_image | img_url: 'x190' }}"
               srcset="{{ product.featured_image | img_url: 'x190', scale: 2 }} 2x,
                    {{ product.featured_image | img_url: 'x190', scale: 3 }} 3x"
               alt="{{ product.featured_image.alt }}"
               class='product-image'/>

          <p class='mt-n1 px-3 px-md-2 px-lg-3 mb-2 mb-xl-3'>
            {% assign description = product.description | split: '<!-- section -->' %}
            {{ description[1] }}
          </p>
        </a>

        <button class="btn btn-outline-secondary btn-sm">
          {{ 'general.button.order' | t }}
        </button>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Featured Products",
    "tag": "section",
    "settings":[
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Main"
      }
    ]
  }
{% endschema %}
