<div class="form-contact container pt-14">
    <div class='text-center pb-3'>
        <h1 class='h1 pb-1'>
            {{ 'contact.title' | t }}
        </h1>
        <p>
            {{ 'contact.sub-title' | t }}
        </p>
    </div>

    {% form 'contact' %}
        {%- if form.posted_successfully? -%}
            <p class="text-center text-primary" autofocus>
                <strong>{{ 'contact.post_success' | t }}
                </strong>
            </p>
        {%- endif -%}

        <input class="form-control form-control-lg mb-2"
            name="contact[name]"
            type="text"
            autocomplete="name"
            required="required"
            placeholder={{ 'contact.name' | t }}
            aria-label={{ 'contact.name' | t }}/>

        <input class="form-control form-control-lg mb-2"
            name="contact[email]"
            type="email"
            autocomplete="email"
            required="required"
            spellcheck="false"
            autocapitalize="off"
            placeholder={{ 'contact.email' | t }}
            aria-label={{ 'contact.email' | t }}/>

        <input class="form-control form-control-lg mb-2"
            name="contact[phone]"
            autocomplete="tel"
            pattern="[0-9\-\.\+]*"
            type="tel"
            placeholder={{ 'contact.phone' | t }}
            aria-label={{ 'contact.phone' | t }}/>

        <textarea
            rows="6"
            class="form-control form-control-lg mb-2"
            name="contact[message]"
            required="required"
            placeholder={{ 'contact.message' | t }}>
            {{- form.body -}}
        </textarea>

        <input class="btn btn-cta text-uppercase w-100 mb-6"
            type="submit"
            value={{ 'contact.send' | t }}>

    {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Form",
    "tag": "section",
    "settings":[
    ],
    "presets": [
      {
        "name": "Contact Form",
        "category": "Main"
      }
    ]
  }
{% endschema %}
