<div class="form-contact container">
    <div class='pt-12 text-center'>
        <h1 class='h1'>
            {{ 'contact.title' | t }}
        </h1>
        <p>
            {{ 'contact.sub-title' | t }}
        </p>
    </div>

    {% form 'contact' %}
        {{ form.errors | default_errors }}

        <input class="form-control form-control-lg"
            name="contact[name]"
            type="text"
            autocomplete="name"
            required="required"
            placeholder={{ 'contact.name' | t }}
            aria-label={{ 'contact.name' | t }}/>


        <input class="form-control form-control-lg"
            name="contact[email]"
            type="email"
            autocomplete="email"
            required="required"
            spellcheck="false"
            autocapitalize="off"
            placeholder={{ 'contact.email' | t }}
            aria-label={{ 'contact.email' | t }}/>

        <input class="form-control form-control-lg"
            name="contact[phone]"
            autocomplete="tel"
            pattern="[0-9\-\.]*"
            type="tel"
            required="required"
            placeholder={{ 'contact.phone' | t }}
            aria-label={{ 'contact.phone' | t }}/>

        <textarea
            rows="10"
            class="form-control form-control-lg"
            name="contact[message]"
            placeholder={{ 'contact.message' | t }}>
            {{- form.body -}}
        </textarea>

        <input class="btn btn-cta text-uppercase w-100"
            type="submit"
            value={{ 'contact.send' | t }}>

    {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Form",
    "tag": "section",
    "settings":[
    ],
    "presets": [
      {
        "name": "Contact Form",
        "category": "Main"
      }
    ]
  }
{% endschema %}
