{%- liquid
  assign ourCoffeeLink = linklists.main-menu.links | where: "title", "Our Coffee" | first
  assign ourPromiseLink = linklists.main-menu.links | where: "title", "Our Promise" | first
  assign contactUsLink = linklists.main-menu.links | where: "title", "Contact Us" | first
-%}

<div id="nav-mobile">
    <nav id="nav-mobile-bar" class="d-md-none nav justify-content-between pt-3" >
        <div class="nav-item"></div>
        <div class="nav-item">
            <a href='{{ routes.root_url }}'>
                {% render 'logo' %}
            </a>
        </div>

        <div class="nav-item pt-2 pe-2 text-end">
            <a href='{{ routes.cart_url }}'>
                {% render 'icon-cart' %}
            </a>
        </div>
    </nav>

    <menu-drawer class="d-block d-md-none pe-none">
        <div class="hamburger-icon pe-auto" id="icon">
            <div class="icon-1" id="a"></div>
            <div class="icon-2" id="b"></div>
            <div class="icon-3" id="c"></div>
            <div class="clear"></div>
        </div>

        <nav id="nav-drawer" class="pe-auto">
            <ul class='text-uppercase'>
                <li>
                    <a href='{{ routes.root_url }}' class='{% if routes.root_url.current %} current {% endif %}'>
                        {{ 'general.navigation.home' | t }}
                    </a>
                </li>
                <li>
                    <a href='{{ ourCoffeeLink.url }}' class='{% if ourCoffeeLink.current %} current {% endif %}'>
                        {{ 'general.navigation.our-coffee' | t }}
                    </a>
                </li>
                <li>
                    <a href='{{ ourPromiseLink.url }}' class='{% if ourPromiseLink.current %} current {% endif %}'>
                        {{ 'general.navigation.our-promise' | t }}
                    </a>
                </li>
                <li>
                    <a href='{{ contactUsLink.url }}' class='{% if contactUsLink.current %} current {% endif %}'>
                        {{ 'general.navigation.contact-us' | t }}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="drawer" id="drawer"></div>
    </menu-drawer>
</div>

<div id="nav-desktop" class='container'>
    <nav class='d-none d-md-flex flex-wrap justify-content-center pt-6 pb-4'>
        <a class='d-flex align-items-center me-md-auto' href='/'>
            <img src="{{ 'logo-dark.png' | asset_img_url: 'master' }}"
            srcset="{{ 'logo-dark@2x.png' | asset_img_url: 'master' }} 2x,
            {{ 'logo-dark@3x.png' | asset_img_url: 'master' }} 3x"
            alt='Piu Cafe'>
        </a>
        <ul class='nav d-flex align-items-center text-uppercase'>
            <li class='px-5'>
                <a href='{{ ourCoffeeLink.url }}' class='link-hover {% if ourCoffeeLink.current %} current {% endif %}'>
                    {{ 'general.navigation.our-coffee' | t }}
                </a>
            </li>
            <li class='px-5'>
                <a href='{{ ourPromiseLink.url }}' class='link-hover {% if ourPromiseLink.current %} current {% endif %}'>
                    {{ 'general.navigation.our-promise' | t }}
                </a>
            </li>
            <li class='px-5'>
                <a href='{{ contactUsLink.url }}' class='link-hover {% if contactUsLink.current %} current {% endif %}'>
                    {{ 'general.navigation.contact-us' | t }}
                </a>
            </li>
            <li class='ps-5'>
                <a id='react-menu-item-cart' class='link-hover' data-label="{{ 'general.navigation.shopping-cart' | t  }}">
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>
 var icon = document.getElementById("icon");
 var icon1 = document.getElementById("a");
 var icon2 = document.getElementById("b");
 var icon3 = document.getElementById("c");
 var drawer = document.getElementById('drawer');
 var navDrawer = document.getElementById("nav-drawer");

 icon.addEventListener('click', function() {
     icon1.classList.toggle('a');
     icon2.classList.toggle('c');
     icon3.classList.toggle('b');
     navDrawer.classList.toggle('show');
     drawer.classList.toggle('slide');
});
</script>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "settings": []
}
{% endschema %}
