<style>
  .image-with-text-background--{{ section.id  }} {
     background-image: url({{ section.settings.image | img_url: 'master'}})
  }
</style>

<div id="image-with-text-mobile" class="d-md-none">
    <div class="image-with-text-background image-with-text-background--{{section.id}}">
    </div>

    <div class="text-center pt-2 px-2 mb-6">
        <h2 class="h2">
           {{ section.settings.image-text }}
        </h2>
    </div>
</div>

<div id="image-with-text-desktop" class="d-none d-md-block mb-4">
    <div class="image-with-text-background image-with-text-background--{{section.id}} position-relative">
        <h2 class="h2 position-absolute top-50 start-50 translate-middle text-center">
           {{ section.settings.image-text }}
        </h2>
    </div>
</div>

{% schema %}
  {
    "name": "Image with text",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "label": "Image",
        "id": "image",
        "info": "Minimum Dimensions: 1200x576"
      },
      {
        "type": "text",
        "label": "Text for image",
        "id": "image-text"
      },
      {
        "type": "select",
        "id": "position",
        "options": [
            {
                "value": "left",
                "label": "position text to the left"
            },
            {
                "value": "center",
                "label": "position text in the center"
            },
            {
                "value": "right",
                "label": "position text to the right"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Pages"
      }
  ]
}
{% endschema %}
