<style>
  .image-with-text-background--{{ section.id  }} {
     background-image: url({{ section.settings.image | img_url: 'master'}})
  }
</style>

<div id="image-with-text-mobile" class="d-md-none">
    <div class="image-with-text-background image-with-text-background--{{section.id}}">
    </div>

    <div class="text-center pt-2 px-2 mb-6">
        <h2 class="h2">
           {{ section.settings.image-text }}
        </h2>
    </div>
</div>

{%- liquid
  if section.settings.position == "left"
    assign positionClass = "position-absolute top-50 start-0 translate-middle-y ps-md-3"
    assign positionStyle = "background-size: 960px; background-position: 40% 40%;"
  elsif section.settings.position == "center"
    assign positionClass = "position-absolute top-50 start-50 translate-middle text-center"
  elsif section.settings.position == "right"
    assign positionClass = ""
  endif

  if section.settings.theme == "dark"
    assign themeClass = "text-light"
  else
    assign themeClass = "text-dark text-no-shadow"
  endif
%}


<div id="image-with-text-desktop" class="d-none d-md-block mb-4">
    <div class="image-with-text-background image-with-text-background--{{section.id}} position-relative" style="{{ positionStyle }}">
        <h2 class="h2 {{ positionClass }} {{ themeClass }}">
           {{ section.settings.image-text }}
        </h2>
    </div>
</div>

{% schema %}
  {
    "name": "Image with text",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "label": "Image",
        "id": "image",
        "info": "Minimum Dimensions: 1200x576"
      },
      {
        "type": "text",
        "label": "Text for image",
        "id": "image-text"
      },
      {
        "type": "select",
        "id": "position",
        "default": "center",
        "label": "The position of the text on the image",
        "options": [
            {
                "value": "left",
                "label": "position text to the left"
            },
            {
                "value": "center",
                "label": "position text in the center"
            },
            {
                "value": "right",
                "label": "position text to the right"
            }
        ]
      },
      {
        "type": "select",
        "id": "theme",
        "label": "The color theme of the image",
        "default": "dark",
        "options": [
            {
                "value": "dark",
                "label": "The image is dark"
            },
            {
                "value": "light",
                "label": "The image is light"
            }
        ]
      },
      {
        "type": "range",
        "id": "mobile-background-size",
        "label": "The 'zoom' for the background image",
        "default": 680,
        "min": 600,
        "max": 1200,
        "unit": "px",
        "step": 8
      },
      {
        "type": "range",
        "id": "desktop-background-size",
        "label": "The 'zoom' for the background image",
        "default": 960,
        "min": 600,
        "max": 1400,
        "unit": "px",
        "step": 8
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Pages"
      }
  ]
}
{% endschema %}
