<style>
  .image-banner-coffee-mobile--{{ section.id  }} {
     background-image: url({{section.settings.image-mobile | img_url: 'master'}})
  }

 .image-banner-coffee-desktop--{{ section.id  }} {
     background-image: url({{section.settings.image-desktop | img_url: 'master'}})
  }
</style>

<div id="image-banner-coffee-mobile" class="d-md-none text-center">
    <div class="image-banner-coffee image-banner-coffee-mobile--{{ section.id }}">
        <div class='pt-12 text-center'>
           <h1 class='h1'>
             {{ 'our-coffee.hero.title' | t }}
           </h1>
           <h2 class="h2 mb-1">
             {{ 'our-coffee.hero.sub-title' | t }}
           </h2>
           <p class="px-1">
             {{ 'our-coffee.hero.content' | t }}
           </p>
        </div>
    </div>

    <div class="pt-3 pb-4">
      <a href='/products/mattino' class='btn btn-cta btn-lg text-uppercase'>
        {{ 'general.button.order-now' | t }}
       </a>
    </div>
</div>

<div id="image-banner-coffee-desktop" class="d-none d-md-block image-banner-coffee image-banner-coffee-desktop--{{ section.id }}">
  <div class="container pt-24 ps-3">
    <div class="row justify-content-start pt-4">
      <div class="col-md-8">
          <h1 class='h1'>
            {{ 'our-coffee.hero.title' | t }}
          </h1>
          <h2 class="h2 mb-3">
            {{ 'our-coffee.hero.sub-title' | t }}
          </h2>
          <p class="ps-1 mb-6">
            {{ 'our-coffee.hero.content' | t }}
          </p>

          <div class="ps-1">
            <a href='/products/mattino' class='btn btn-cta btn-lg text-uppercase'>
               {{ 'general.button.order-now' | t }}
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.image-banner-coffee.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "label": "t:sections.image-banner-coffee.settings.image.label",
        "id": "image-desktop",
        "label": "Image for Desktops",
        "info": "Dimensions: 2880x1792"
      },
      {
        "type": "image_picker",
        "label": "t:sections.image-banner-coffee.settings.image.label",
        "id": "image-mobile",
        "label": "Image for Mobile",
        "info": "Dimensions: 2880x1792"
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-banner-coffee.name",
        "category": "Pages"
      }
  ]
}
{% endschema %}
