<style>
  .landing--{{ section.id  }} {
     background-image: url({{section.settings.image | img_url: 'master'}})
  }
</style>

<section class="landing landing--{{ section.id }}">
    <div class='container'>
        {% render 'header' %}

        <div class='pt-3'>
            <h1 class='h1 hero brand mb-8'>
                {{ 'general.hero.title' | t }}
            </h1>

            <h2 class='h2 mb-6'>
                {{ 'general.hero.sub-title' | t }}
            </h2>

            <a href='/products/mattino' class='btn btn-outline-secondary text-uppercase'>
                {{ 'general.button.order-now' | t }}
            </a>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-image-banner.settings.image.label"
    }
  ]
}
{% endschema %}
