<section class='cointainer product-carousel pt-6 mb-19'>
    {% assign firstProduct = collections[settings.collection].products | first %}
    {% assign productHandle = firstProduct.title | handleize %}

    {% render 'submenu-products',
      products: collections[settings.collection].products,
      active: productHandle
    %}

    <div id='carousel-product' class='carousel carousel-dark slide' data-bs-ride='carousel' data-bs-interval=false>
        <div class='carousel-inner'>
        {% for product in collections[settings.collection].products %}
            {% assign description = product.description | split: '<!-- section -->' %}

            <div class='carousel-item {% cycle 'active', '', '' %}' id='{{ product.title | handleize }}'>
                <div class='d-block w-100 text-center'>
                    <div class='d-flex justify-content-center'>
                        <div class='ps-2 pe-8'>
                            <a href={{ product.url }}>
                                <img src="{{ product.featured_image | img_url: 'x336' }}"
                                     srcset="{{ product.featured_image | img_url: 'x336', scale: 2 }} 2x,
                                          {{ product.featured_image | img_url: 'x336', scale: 3 }} 3x"
                                     alt="{{ product.featured_image.alt }}"/>
                            </a>
                        </div>

                        <div class='pt-1 ms-4 me-8'>
                            <h1 class='h1 brand mb-1'>
                                <a href={{ product.url }}>
                                    {{ product.title }}
                                </a>
                            </h1>

                            <h2 class='h3 mb-2'>
                                {{ description[3] }}
                            </h2>

                            <p class="mb-2">
                                {{ description[2] }}
                            </p>

                            <a href='{{  product.url }}' class='btn btn-outline-secondary text-uppercase mb-17'>
                                {{ 'general.button.order-now' | t }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
         <button class='carousel-control-prev' type='button' data-bs-target='#carousel-product' data-bs-slide='prev'>
             <span class='carousel-control-prev-icon' aria-hidden='true'></span>
             <span class='visually-hidden'>Prev</span>
         </button>
         <button class='carousel-control-next' type='button' data-bs-target='#carousel-product' data-bs-slide='next'>
             <span class='carousel-control-next-icon' aria-hidden='true'></span>
             <span class='visually-hidden'>Next</span>
         </button>
        </div>
    </div>

</section>


<script type='text/javascript'>
    /* Wire up the menu controls with the carousel */
    var carousel = document.getElementById('carousel-product');

    function changeSlide(event) {
        var carouselInstance = new window.Carousel(carousel);
        carouselInstance.to(event.currentTarget.menuIndex)
    }

    {% for product in collections[settings.collection].products %}
        {% assign productName = product.title | handleize %}
        // create listener and index for menuItem to execture changeSlide
        var menuItem_{{ productName }} = document.getElementById('menu-item-{{ productName }}');
        menuItem_{{ productName }}.addEventListener("click", changeSlide, true);
        menuItem_{{ productName }}.menuIndex = {% cycle 0, 1, 2 %}

    {%  endfor %}

    carousel.addEventListener('slid.bs.carousel', function (event) {
        // remove all active
        {% for product in collections[settings.collection].products %}
          {% assign productName = product.title | handleize %}
          var menuItem_{{ productName }} = document.getElementById('menu-item-{{ productName }}');
          menuItem_{{ productName }}.classList.remove('active');
        {%  endfor %}
       
        // set menu-item to active
        var product = event.relatedTarget.id
        var menuItem = document.getElementById('menu-item-' + product);

        menuItem.classList.add('active');
    })
</script>

<hr/>
