<section class='container mt-8 mb-17'>
     <div class='row'>
         <div class='col-12 col-md-6 pe-14 text-start'>
             <h1 class='h1 mb-3'>
                 {{ settings.title  }}
             </h1>

             <p class='mb-2'>
                 {{ settings.content  }}
             </p>

             <a class='button--order mb-5' href='#'>
                 {{ 'general.button.order_now' | t }}
             </a>

             {% render 'testimonial' with {
                 author: settings.testimonial_author,
                 content: settings.testimonial_content,
                 image: settings.testimonial_image
                 } %}
         </div>

         <div class='col-12 col-md-6 bg-light'>
             <img src="{{ settings.image | img_url: '624x624' }}"
                  srcset="{{ settings.image | img_url: '624x624', scale: 2, format: 'pjpg' }} 2x,
                       {{ settings.image | img_url: '624x624', scale: 3, format: 'pjpg' }} 3x"
                  alt='Cafe'>
         </div>
     </div>
</section>
