{% assign textPosition = "text-start,text-center,text-end" | split: ',' %}
{% assign positionIndex = forloop.index | minus: 1 %}

<div class='col-md-4 {{ textPosition[positionIndex] }}''>
    <a class='d-inline-block'  href={{ product.url }}>
        <div class='featured-product'>
            <img src="{{ product.featured_image | img_url: 'x190' }}"
                srcset="{{ product.featured_image | img_url: 'x190', scale: 2 }} 2x,
                    {{ product.featured_image | img_url: 'x190', scale: 3 }} 3x"
                alt="{{ product.featured_image.alt }}"
                class='mb-1'/>

            <p class='text-center px-2'>
                {% assign description = product.description | split: '<!-- section -->' %}
                {{ description[1] }}
            </p>
        </div>
    </a>
</div>
