<section class='container text-center mt-16'>
    <div class='mb-3'>
        <a href='/'>
            <img src="{{ 'logo-dark@2x.png' | asset_img_url: '86x' }}"
                srcset="{{ 'logo-dark@2x.png' | asset_img_url: 'master' }} 2x,
                    {{ 'logo-dark@3x.png' | asset_img_url: 'master' }} 3x"
                alt='Piu Cafe'>
        </a>
    </div>

    <h2 class='tag-line--title mb-5 mx-auto'>
        {{ 'general.hero.sub-title' | t }}
    </h2>

    <button type='button' class='btn btn-lg btn-outline-secondary text-uppercase mb-17'>
        {{ 'general.button.order-now' | t }}
    </button>
</section>
