<hr class='mb-16'/>

<footer class='text-start text-md-center'>
    <section class='container'>
        <div class='mb-3'>
            LOGO
        </div>

        <h2 class='h2 footer--title mb-5 mx-auto'>
            {{ 'general.hero.sub_title' | t }}
        </h2>

        <a class='button--order mb-16' href='#'>
            {{ 'general.button.order_now' | t }}
        </a>

        <div class='mb-3'>&nbsp;</div>
    </section>

    <section class='bg-accent1 text-white'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-6 col-md-4 pt-5 py-md-12'>
                    <ul class='list-unstyled fs-5'>
                        <li class='mb-3'>
                            <a href='#'>
                                Conditions générales
                            </a>
                        </li>
                        <li class='mb-3'>
                            <a href='#'>
                              Politique de confidentialité
                            </a>
                        </li>
                        <li class='mb-3'>
                            <a href='#'>
                              Mentions légales
                            </a>
                        </li>
                    </ul>
                </div>

                <div class='d-none d-md-block col-md-4 py-8'>
                    <div>
                        Voyez ce que nous faisons
                    </div>
                    <div>
                        <span>FB</span>
                        <span>IN</span>
                    </div>
                </div>

                <div class='col-sm-6 col-md-4 pt-sm-5 py-md-12'>
                    <ul class='list-unstyled fs-5'>
                        <li class='mb-3'>
                            <a href='#'>
                                {{ 'general.navigation.our_coffee' | t }}
                            </a>
                        </li>
                        <li class='mb-3'>
                            <a href='#'>
                                {{ 'general.navigation.value_chain' | t }}
                            </a>
                        </li>
                        <li class='mb-3'>
                            <a href='#'>
                                {{ 'general.navigation.contact_us' | t  }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='row'>
                <div class='col text-start text-md-center mb-1'>
                    <div class='fs-6'>
                        Copyright &copy; {{ 'now' | date: '%Y' }} CFC SAS. Made with ♡ by Più
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
