{% comment %}
Requries the following arguments:

- settings: what are settings?
- id:
{% endcomment %}

<style>
  .fullpage-landing--{{ id  }} {
     background-image: url({{settings.desktop_image | img_url: 'master'}})
  }
</style>

<section class="fullpage-landing fullpage-landing--{{ id }}">
    <div class='container'>
        {% render 'header' %}

        <div class='ps-1 pt-17'>
            <h1 class='h1 hero brand mb-13'>
                {{ 'general.hero.title' | t }}
            </h1>

            <h2 class='h2 mb-6'>
                {{ 'general.hero.sub-title' | t }}
            </h2>

            <a href='/products/mattino' class='btn btn-outline-secondary text-uppercase'>
                {{ 'general.button.order-now' | t }}
            </a>
        </div>
    </div>
</section>
