<header>
    <section class='mobile-container d-md-none bg-white'>
        <input id='toggle' type='checkbox'>

        <label class='toggle-container' for='toggle'>
            <span class='button button-toggle'></span>
        </label>


        <nav class='mobile-nav'>
            <a class='mobile-nav-item' href=''>
                {{ 'general.navigation.our_coffee' | t }}
            </a>
            <a class='mobile-nav-item' href=''>
                {{ 'general.navigation.value_chain' | t }}
            </a>
            <a class='mobile-nav-item' href=''>
                {{ 'general.navigation.contact_us' | t  }}
            </a>
        </nav>


        <div class='mobile-logo'>
            <a href='/'>
                {{ 'logo-dark.png' | asset_img_url: 'master' | img_tag: 'Piu Cafe' }}
            </a>
        </div>

        <div class='mobile-cart'>
            Cart
        </div>
    </section>

    <nav class='container d-none d-md-block bg-white'>
        <div class='site-menu row justify-content-between align-items-center '>
            <div class='col-4 justify-content-between d-flex'>
                <a class='d-inline-block link-hover' href='#'>
                    {{ 'general.navigation.our_coffee' | t }}
                </a>

                <a class='d-inline-block link-hover' href='#'>
                    {{ 'general.navigation.value_chain' | t }}
                </a>
            </div>

            <div class='col-4 text-center'>
                <a href='/'>
                    {{ 'logo-dark.png' | asset_img_url: '86x' | img_tag: 'Piu Cafe' }}
                </a>
            </div>

            <div class='col-4 justify-content-between d-flex'>
                <a class='d-none d-lg-inline-block d-md-none link-hover' href='#'>
                    {{ 'general.navigation.contact_us' | t  }}
                </a>

                <a class='d-md-inline-block d-lg-none link-hover' href='#'>
                    {{ 'general.navigation.contact_us_shortened' | t  }}
                </a>

                <a class='d-inline-block link-hover' href='#'>
                    <strong>
                        {{ 'general.navigation.shopping_cart' | t  }}
                    </strong>
                </a>
            </div>

        </div>
    </nav>
</header>

