<header class='d-flex flex-wrap justify-content-center pt-6 pb-4'>
    <a class='d-flex align-items-center me-md-auto' href='/'>
        <img src="{{ 'logo-dark.png' | asset_img_url: 'master' }}"
        srcset="{{ 'logo-dark@2x.png' | asset_img_url: 'master' }} 2x,
        {{ 'logo-dark@3x.png' | asset_img_url: 'master' }} 3x"
        alt='Piu Cafe'>
    </a>
    <ul class='nav d-flex align-items-center text-uppercase'>
        <li><a href="#" class='nav-link pt-2 px-4'>{{ 'general.navigation.our-coffee' | t }}</a></li>
        <li><a href="#" class='nav-link pt-2 px-4'>{{ 'general.navigation.value-chain' | t }}</a></li>
        <li><a href="#" class='nav-link pt-2 px-4'>{{ 'general.navigation.contact-us' | t }}</a></li>
        <li><a href="#" class='nav-link pt-2 ps-4 pe-0'>{{ 'general.navigation.shopping-cart' | t }}&nbsp(0)</a></li>
    </ul>
</header>
