<section class='container text-start text-sm-center d-flex flex-column mt-4 mt-sm-2'>
    <h1 class='h1 mb-2 mb-sm-6 order-2 order-sm-0'>
        {{ 'general.hero.title' | t }}
    </h1>

    <div class='mx-sm-auto mb-2 mb-sm-3 order-1 text-center ms-n1'>
        <img class='img-fluid' src="{{ product.images[1] | img_url: '640x' }}"
             srcset="{{ product.images[1] | img_url: '640x', scale: 2 }} 2x,
                  {{ product.images[1] | img_url: '640x', scale: 3 }} 3x"
             alt='{{ product.title }}'>
    </div>

    <h2 class='h2 hero hero--subheading mb-5 mx-auto order-3 order-sm-2'>
        {{ 'general.hero.sub_title' | t }}
    </h2>

    <a class='button--order mb-7 order-4' href={{ product.url }}>
        {{ 'general.button.order_now' | t }}
    </a>

</section>
