<section class="hero hero--{{ id }}">
    <h1 class="hero__heading">{{ settings.heading  }}</h1>
    <p class="hero__copy">{{ settings.copy }} </p>
    <a href="{{ settings.link_url }}" class="hero_link">{{ settings.link_text }}</a>
</section>
