<section class='container mt-2 panel-product'>
    <!-- product navigation menu -->
    <!-- <div class='d-flex mb-4 justify-content-center submenu-products'>
         {% for p in  collections['featured-products'].products %}
         <div class='menu-item text-center {% if p.url == product.url %} active {% endif %}'>
         <h3 class='h1 light'>
         <a class='nav-link' href="{{ p.url }}">
         {{ p.title }}
         </a>
         </h3>
         </div>
         {% endfor %}
         </div> -->
    <!-- product navigation menu -->


    <div class='row mb-14'>
        <!-- featured images -->
        <div class='col-7 pt-13'>
            <img src="{{ product.featured_image | img_url: 'x392' }}"
                srcset="{{ product.featured_image | img_url: 'x392', scale: 2 }} 2x,
                    {{ product.featured_image | img_url: 'x392', scale: 3 }} 3x"
                alt="{{ product.featured_image.alt }}"
                 class='mb-3'>

            <div class='d-flex justify-content-between'>
                {% for image in product.images %}
                    <div class='p-1 rounded'>
                        <img src="{{ image.src | img_url: 'x80' }}">
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- featured images -->

        <div class='col-5 ps-11'>
            <!-- certification icons -->
            <div class='d-flex justify-content-between px-1 mb-1'>
                <div class='text-center'>
                    <div class='icon'>
                        <img src="{{ 'icon-dark-free-trade.png' | asset_img_url: 'master' }}"
                             srcset="{{ 'icon-dark-free-trade@2x.png' | asset_img_url: 'master' }} 2x,
                                  {{ 'icon-dark-free-trade@3x.png' | asset_img_url: 'master' }} 3x"
                             alt='Free Trade'>
                    </div>

                    <p>
                        {{ 'general.values.free-trade' | t }}
                    </p>
                </div>

                <div class='text-center'>
                    <div class='icon'>
                        <img src="{{ 'icon-dark-capsule.png' | asset_img_url: 'master' }}"
                             srcset="{{ 'icon-dark-capsule@2x.png' | asset_img_url: 'master' }} 2x,
                                  {{ 'icon-dark-capsule@3x.png' | asset_img_url: 'master' }} 3x"
                             alt='Biodegradable'>
                    </div>

                    <p>
                        {{ 'general.values.biodegradable' | t }}
                    </p>
                </div>

                <div class='text-center'>
                    <div class='icon'>
                        <img src="{{ 'icon-dark-recycle.png' | asset_img_url: '64x64' }}"
                             srcset="{{ 'icon-dark-recycle@2x.png' | asset_img_url: '64x64' }} 2x,
                                  {{ 'icon-dark-recycle@3x.png' | asset_img_url: '64x64' }} 3x"
                             alt='Recyclable'>
                    </div>
                    <p>
                        {{ 'general.values.recycle' | t }}
                    </p>
                </div>
            </div>
            <!-- certification icons -->

            <!-- information label -->
            <div class='information pt-4 mb-3 text-center'>
                <h1 class='h1 brand'>
                    {{ product.title }}
                </h1>

                <h2 class='h3'>
                    {% assign description = product.description | split: '<!-- section -->' %}
                    {{ description[3] }}
                </h2>

                <div class='mb-3'>
                    <small>
                        <strong>
                            {{ 'product.capsules-per-box' | t }} {{ product.price | times: 10 | money  }}
                        </strong>
                    </small>
                </div>

                <p class='px-3 mb-3'>
                    {{ description[2] }}
                </p>

                <input type='hidden' name='id' value="{{ product.variants.first.id }}" />
                {% render 'react-cart-control' with {
                    variant_id: product.variants.first.id,
                    price: product.price,
                    add_to_cart: 'cart.general.add-to-cart',
                    thank_you: 'cart.general.thank-you'
                }%}

            </div>
            <!-- information label -->

        </div>
    </div>
</section>

<hr/>
