<div class='col-12 col-md-4 mb-6 mb-sm-0'>
    <div class='product-card'>
        <img src="{{ product.featured_image | img_url: 'master' }}"
             srcset="{{ product.featured_image | img_url: 'master', scale: 2 }} 2x,
                  {{ product.featured_image | img_url: 'master', scale: 3 }} 3x"
             alt="{{ product.featured_image.alt }}"
             class='img-fluid mb-1'/>

        <p class='pe-3 pe-sm-0 px-xl-3 text-start text-sm-center' style='letter-spacing: 0px;'>
            {% assign description = product.description | split: '<!-- section -->' %}
            {{ description[1] }}
        </p>
    </div>
</div>
