{% comment %}
    Requires the following arguments:

- settings:
- id:
{% endcomment %}


{% assign engagements = 'capsule,free-trade,recycle' | split: ',' %}

<style>
    .engagements--{{ id }} {
        background-image: url({{ settings.desktop_image | img_url: 'master' }});

    }
</style>

<section class='engagements engagements--{{ id }}'>
    <div class='container pt-13 gx-0'>

        <h1 class='h1 text-center text-light mb-17'>
            {{ 'general.engagements.title' | t }}
        </h1>

        <div class='row'>
            {% for engagement in engagements %}
                {% assign image = 'icon-' | append: engagement %}

                <div class='col-md-4 text-center'>
                    <img src="{{ image | append: '.png' | asset_img_url: 'master' }}"
                         srcset="{{ image | append: '@2x.png' | asset_img_url: 'master' }} 2x,
                              {{ image | append: '@3x.png' | asset_img_url: 'master' }} 3x"
                         alt='{{ key }}'
                         class='mb-4'/>
                    <h2 class='h2 hero text-light'>
                        {{ 'general.engagements.' | append: engagement | t }}
                    </h2>
                </div>
            {% endfor %}

        </div>

    <!-- <div class='row'>
         <div class='col-6'>

         <div class='pb-24'></div>
         </div>
         <div class='d-none d-md-block col-12 col-md-6' id='engagement-image'>
         </div>
         </div> -->
    </div>
</section>
