<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag -}}
  </head>

  <body>
    {{ content_for_layout }}
    <script defer type='module' src="{{ 'react-cart-control.bundle.js' | asset_url }}"></script>
    <script defer type='module' src="{{ 'react-cart.bundle.js' | asset_url }}"></script>
  </body>
</html>
